*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aqua;

}

#header{
margin-top: -8px;
    height: 700px;
    width: 100%;  
    background-image: url("backgroundIMG.jpg");
    background-size: cover;
    
 
}

.container{

    padding: 2px 1%;

    margin: 10px 20px;
    padding-top: 20px;
}
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-item
{
    font-size: 23px;
}
.nav-item:hover{

    color: black;

}
.logo{
    width: 80px;
    border-radius: 50%;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: azure;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{

        content: '';
        width: 0;
        height: 3px;
        background: red;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
}
nav ul li a:hover{
    color: red;

    
}


nav ul li a:hover::after{

    width: 100%;
    
    
}

.header-text{
    margin-top: 10%;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 200px;
}
.header-text h1{
    font-size: 40px;
    margin-top: 2%;
    
}
span{
    color: red;
}

/* ---------------------About---------------------- */

#about{

    padding: 50px 0;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    
}
.about-col-1 img {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    object-fit: cover;
    margin-top: 10px;
    
}
.about-col-2 {
    flex-basis: 60%;
    
}
.sub-title{

    font-size: 50px;
    font-weight: 500;
    
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 40px;
    font-size: 18px;
    font-weight: 18px;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contains ul li{

    list-style: none;
    margin: 10px 0;
    font-size: 20px;
    line-height: 1.4em;
}
.tab-contains ul li span{

    color: rgb(143, 141, 137);
    font-size: 18px;
}
.tab-contains{

    display: none;
}
.tab-contains.active-tab{

    display: block;
}

/* -----------------Services-------------------------- */
#services{
    padding: 30px 0;

}
.sub-title{
    padding: 10px 3%;
    margin: 10px 20px;
}
.services-list
{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px;*/
    margin: 50px; 
    display: flex;
    gap: 100px;
    justify-content: center;
    
}

.services-list div{
    background: rgb(100, 82, 82);
    padding: 20px;
    width: 150px;
    font-size: 10px;
    /* font-weight: 100; */
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    text-align: center;

}
.services-list div i{
    font-size: 30px;
    margin-bottom: 10px;
}
.services-list div h2{
    font-size: 18px;
    font-weight: 100;
    margin-top: 15px;
    
    margin-bottom: 10px;
}
.services-list div a{
    text-decoration: none;
    color: aqua;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color: rgb(207, 57, 57);
    transform: translateY(-10px);
}

p{
    font-size: 20px;
}

.img1{

    display: flex;
   align-items: center;
   justify-content: center;
}

.img1 img{

    height: 70px;
    border-radius: 50%;

}

/* -----------------Portfolio------------------ */


.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 10px;
    transition: transfrom 0.5s;
}

 .layer
{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(187, 79, 79));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

} 
.fa-arrow-up-right-from-square{

    margin-left: 5px;
}
.layer .icon{

    margin-bottom: 20px;
    margin-left: 15px;

}
.layer h3
{
    margin-top: 5px;
    margin-left: 20px;
    font-size: x-large;
}

.work img
{
    transition: background 0.5s, transform 0.5s;

}
.work img:hover
{
    transform: translateY(-10px);
    opacity: 1;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;

}

.layer p{

    font-size: 20px;
    font-weight: 100 !important;

}

.layer a{
    margin-top: 20px;
    color: rgb(27, 27, 26);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{ 
   transform: scale(1.1);
}

.work:hover .layer{
    height:100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid red;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: aqua;
    transition: background 0.5s;
}
.btn:hover{
    background-color: red;
}

/* ------------------Contact----------------- */


.sub-title-2{
    padding: 10px 0%;
    margin: 10px 20px;
    font-size: 50px;
    font-weight: 500;
    display: flex;
    margin: 20px 0 40px;
}

.fa-download
{
    font-size: 20px;
}
.contact-left{

    flex-basis: 35%;
    padding: 10px 5%;
}
.contact-right{

    flex-basis: 60%; 
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: red;
    margin-right: 15px;
    font-size: 15px;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
    
} 
.social-icon a:hover {
    color: red;
    transform: translateY(-5px);
    
} 
.btn.btn2{
    display: inline-block;
    background: red;
}

#btn1{

    font-size: 20px;
}

#btn1:hover{
    background: rgb(201, 49, 22);
}
#btn3:hover{
    background: rgb(201, 49, 22);
}

.contact-right{
    width: 100%;

}
form input, form textarea{

    width: 92%;
    border: 0;
    outline: none;
    background: rgb(43, 41, 41);
    padding: 15px;
    margin: 15px;
    color: rgb(231, 214, 214);
    font-size: 18px;
    border-radius: 6px;

}

form .btn2{
    padding: 10px 70px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 25px 0;
    margin-top: 20px;
    background: rgb(43, 41, 41);
    font-weight: 300px;
}

/* ----------------------------For Responsive--------------------- */

nav .fas{

    display: none;
}

@media only screen and (max-width: 600px)
{   
    *{
        margin-right: 20px;
    }

    #header{
        background-image: url("backgroundIMG.jpg");
        width: 400px;
    }
    .header-text{
        margin-top: 200px;
        font-size: 16px;
        margin-left: 20px;

    }
    

    .services-list
    {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    column-gap: 100px;
    row-gap: 25px;
    /* grid-row-gap: 20px; */
    width: auto;
    /* margin-right: 50px; */
    margin:auto 0px 20px;
    
    }

    .services-list div{
        background: rgb(100, 82, 82);
        padding: 20px;
        width: 150px;
        font-size: 10px;
        /* font-weight: 100; */
        border-radius: 10px;
        transition: background 0.5s, transform 0.5s;
        text-align: center;
    
    }

    .img1 img{

        margin: auto;
    
    }
    .about-col-2 h1{

        text-align: center;
    }
    .about-col-1 img {
        width: 270px;
        height: 300px;
        border-radius: 15px;
        object-fit: cover;
        margin-left: 20px;

        
    }

    .header-text h1{
        font-size: 30px;
    }
    nav .fas{

        display: block;
        font-size: 25px;
    }

    nav ul {
        background: red;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .container h1{

        margin-bottom: 25px;
        margin-top: 0px;
    }

    #header{
        margin-top: -10px;
        }
    .container #btn1{

        margin-left: 80px;
    }

    .sub-title{
        font-size: 24px;
        display: flex;
        justify-content: center;
        
        }
    .about-col-1,.about-col-2{
        flex-basis: 100%;

    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2
    {
        font: 15px;
        margin-left: 40px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .contact-left .sub-title-2{

        font-size: 30px;
    }
    .copyright{
        font-size: 14px;
    }
    #contact h1{

        margin-left: 70px;
    }
    #contact p{

        margin-left: 20px;
        font-size: 16px;
        text-align: center;
    

    }
    .social-icon{
        display: flex;
        justify-content: center;
        margin-left: 70px;
    }
    .social-icon a {
        text-decoration: none;
        font-size: 20px;
        margin-right: 2px;
    } 
    .contact-left #btn3{

        margin-left: 50px;

    }
    .contact-right{
        margin-top: 0px;
    }
    .contact-right .form{

        width: 250px;
        
        margin-left: 30px;
    }
    .fa-arrow-up-right-from-square{

        margin-left: 20px;
    }

    .layer .icon{

        margin-bottom: 20px;
        margin-left: 15px;
    
    }
    .layer h3
    {
        margin-top: 5px;
        margin-left: 20px;
        font-size: 18px;
    }

    .work img{
        height: 200px;
    }

    #btn1{

        font-size: 15px;
        padding:8px 40px;
        padding-left: 25px;
        text-align: center;
    }

    .contact-left #btn3
    {
        font-size: 15px;
        padding: 15px;
        margin-left: 60px;
        padding-left: 20px;
        
    }
    .copyright{
        width: 400px;
    }

}
html{
    scroll-behavior: smooth;
}

div #msg{
    color: green;
    margin-top: -40px;
    display: block;
}

